# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg

# Virtual env
.venv/
venv/

# IDE
.vscode/
.idea/

# SQLite dev local
*.db

# Env
.env

# OS
.DS_Store
Thumbs.db

# Pytest
.pytest_cache/
.coverage
htmlcov/

# Cursor (contient des configs locales)
.cursor/
